* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Gemunu Libre", sans-serif;
  background-color: #212121;
}
h1 {
  text-align: center;
  margin-top: 5%;
  text-transform: capitalize;
  color: #d9cab3;
}
span {
  position: absolute;
  left: 45%;
  top: -5%;
  margin-top: 10%;
  font-size: 20px;
  text-transform: capitalize;
  color: #6d9886;
}
div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 50vh;
  background-color: #6d9886;
  box-shadow: 3px 4px 4px rgb(54, 54, 54);
  border: none;
  border-radius: 6px;
  position: absolute;
  top: 25%;
  left: 35%;
}
div #item {
  width: 80%;
  height: 35px;
  border: none;
  border-radius: 3px;
  box-shadow: 1px 2px 2px rgb(54, 54, 54);
  position: absolute;
  top: 10%;
  left: 10%;
}
div #btn {
  position: absolute;
  bottom: 10%;
  left: 10%;
  background-color: #212121;
  color: #d9cab3;
  padding: 10px;
  border: none;
  border-radius: 3px;
  box-shadow: 1px 2px 2px rgb(54, 54, 54);
  text-transform: uppercase;
}
div button {
  position: absolute;
  bottom: 10%;
  right: 10%;
  background-color: #212121;
  color: #d9cab3;
  padding: 10px;
  border: none;
  border-radius: 3px;
  box-shadow: 1px 2px 2px rgb(54, 54, 54);
  text-transform: uppercase;
}
@media (max-width: 767px) {
  div {
    width: 80%;
    height: 40vh;
    position: absolute;
    top: 25%;
    left: 10%;
  }
}
